$main-background: red;
$text-background: white;
$bl-color: black;
$button-background: blue;
$button-border: blue;
$button-hover-background: blue;
$button-hover-border: blue;
$button-hover-text: white;