$primary-bg-color: #91275c;
$secondary-bg-color: #b530b5;
$container-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
$input-bg-color: rgba(0, 0, 0, 0.3);
$input-border-radius: 50px;
$input-font-color: #fff;
$input-font-size: 14px;
$input-padding: 10px 15px;

$font-family-lato: 'Lato', sans-serif;
$font-family-noto-sans-mahajani: 'Noto Sans Mahajani', sans-serif;
$font-family-rubik: 'Rubik', sans-serif;
$font-family-ubuntu: 'Ubuntu', sans-serif;


* {
    box-sizing: border-box;
  }